streamlit>=1.22.0
pandas>=1.5
plotly>=5.10
python-dotenv>=1.0
pdfminer.six>=20221105
PyPDF2>=3.0
pillow>=9.0
numpy>=1.23

streamlit-tags>=1.0.4
geocoder>=1.38.1
geopy>=2.3
openai>=1.0
groq>=0.3.0

sentence-transformers>=2.2.2

torch>=2.0.0  
transformers>=4.30.0
httpx>=0.24
